.navbar {
    background-color: #000;
    }
    nav {
    
    
      background-color: var(--navbar-bg-color);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16),
        0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    }


    .navbar-collapse {
   
      flex-grow: 0.5 !important;
    
  }